<div class="container">

  <h1>Stupid coaching </h1>

  <div class="question">
    <p><%= @question %></p>
    <p class="user">-You</p>
  </div>

  <div class="answer">
    <p><%= @answer %></p>
    <p class="user">-Your coach</p>
  </div>

  <a href="http://localhost:3000/ask">Ask a new question</a>
</div>

